:root {
    // brand colors
    --c-brand: rgb(199, 66, 0);
    --c-brand-light: rgb(254, 237, 233);

    --font-family-code: "JetBrains Mono", monospace;

    --content-width: 1216px;
    scroll-behavior: smooth;
    
    .navbar .logo {
      height: 36px;
    }
    .navbar {
      padding: 2.5rem;
    }
    @media screen and (min-width: 769px)
    {
      .navbar, .navbar-menu, .navbar-start, .navbar-end {
          align-items: center;
          display: flex;
      }
    }
  }


  // Dark Mode
  html.dark {
    // brand colors
    --c-brand: rgb(199, 66, 0);
    --c-brand-light: rgb(254, 237, 233);
  }